*{
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
}
main {
  width: 1052px;
  margin: 0 auto;
}
header {
  width: 100%;
  height: 69px;
  font-weight: 700;
  font-size: 37px;
  line-height: 43.36px;
  background-color: #ec362d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #ffffff;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;
}

.your_quizzes {
  height: 181px;
  border: 1px dashed #d5d5d5;
  border-radius: 5px;
  margin-top: 146px;
  margin-bottom: 77px;

  /* conferir as margens laterais */
  /* margin-left: calc(100vw - 90%);
  margin-right: calc(100vw - 90%); */
  
  max-width: 1052px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.warning {
  max-width: 250px;
  color: #b9b9b9;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.44px;
  text-align: center;
}

.button {
  color: #ec362d;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;

  width: 136px;
  height: 40px;
  border: 1px dashed #ec362d;
  border-radius: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.button, .add_button:hover {
  cursor: pointer;
}

.personal_quizzes {
  margin-top: 138px;
  margin-bottom: 48px;
}

.myQuizzes {

  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.other-quizzes {

  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  height: 32px;
}

.add_button {
  color: #ec362d;
  font-size: 32px;
  margin-left: 15px;
}

h2 {
  font-weight: 700;
  font-size: 20px;
}

.other-quizzes h2 {
  margin-bottom: 12px;
}

.all-quizzes, .container_quizzes {
  max-width: 1052px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  row-gap: 12px;
  column-gap: 15px;
}
.quizz {
  width: 340px;
  height: 181px;
  border-radius: 5px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
  position: absolute;
  top: 0;
  left: 0;
}

.quizz:hover {
  cursor: pointer;
}

.quizz p {
  color: #FFFFFF;
  font-size: 19px;
  padding: 140px 18px 0 18px;
}
.quizz-image {
  width: 340px;
  height: 181px;
  border-radius: 5px;
  position: relative;
  top: 0;
  left: 0;
}
.quizz-image img {
  width: 340px;
  height: 181px;
  border-radius: 5px;
}

/* Play Quizz */


.quizz-header {
  margin-top: 69px;
  height: 227px;
  width: 100vw;
  position: relative;
  text-align: center;
  
}

.quizz-header img {
  width: 100%;
  height: 100%;
}

.quizz-header h3 {
  color:#FFFFFF;
  font-weight: 400;
  font-size: 39px;
  line-height: 45.7px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 1;
}

.quizz-header .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  
}

.container_questions {
  width: calc(100vw - 60%);
  margin: 42px auto 42px;
  padding-top: 28px;
  padding-bottom: 20px;
  background-color: #FFFFFF;
  position: relative;
}

.questions_header {
  width: 90%; 
  height: 138px;
  margin: 0 auto;
  /* background-color: #434ca0;  */

  display: flex;
  align-items: center;
  justify-content: center;
}

.questions_header h4 {
  color: #ffffff;
  font-size: 23px;
  font-weight: 700;
  line-height: 26.95px;
}



.answers {
  width: 97%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px auto;
  
}


.container_answers p {
  font-size: 20px;
  font-weight: 700;
  line-height: 26.95px;
  margin-top: 6px;
}

.container_answers img {
  width: 320px;
  height: 175px;
}

.container_answers:hover {
  cursor: pointer;
}

.correct{
  color: #009C22;
}

.wrong {
  color: #FF4B4B;
}

.open {
  opacity: 1;
}

.other {
  opacity: 0.3;
}


.create {
  margin: 140px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.create h2 {
  font-weight: 700;
  font-size: 23px;
}
.create button {
  background-color: #EC362D;
  width: 367.72px;
  max-width: 367.72px;
  height: 54px;
  color: #FFF5F4;
  font-size: 21px;
  font-weight: 400;
  border-radius: 15px;
  border: 0px;
}
.create button:hover {
  cursor: pointer;
}
.quizz-info {
  width: 600px;
  height: 256px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  margin-top: 27px;
  margin-bottom: 85px;
}
.quizz-info > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 9px;
  margin-top: 21px;
}
input {
  width: 564px;
  height: 46px;
  background-color: #FFFFFF;
  border: 1px solid #D1D1D1;
  border-radius: 5px;
  padding-left: 23px;
}
input::placeholder {
  font: 19px;
  font-weight: 400;
  color: #BABABA;
  font-style: italic;
  padding: 12px 0;
}
.quizz-questions, .quizz-levels {
  width: 600px;
  margin-top: 36px;
  margin-bottom: 57px;
}
.question, .level {
  margin-bottom: 24px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  min-height: 74px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.question h3, .level h3 {
  font-size: 20px;
  font-weight: 700;
}
.question-click, .level-click {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.question > div, .level > div {
  padding: 0 20px;
}
.question img:hover, .level img:hover {
  cursor: pointer;
}
.hidden {
  display: none;
}
.question input, .level input {
  margin-top: 14px;
}
.question-data h3, .level-data h3 {
  padding-top: 27px
}
.question-data div:nth-child(3), .question-data div:nth-child(4) {
  margin-top: 20px;
}
.question-data div:nth-child(4) {
  margin-bottom: 27px;
}
.level-data input:nth-child(5) {
  margin-bottom: 27px;
}
.create > .quizz-image {
  margin-top: 32px;
  margin-bottom: 45px;
}
.create > .back-button {
  width: 220px;
  height: 44px;
  margin-top: 9px;
  background-color: #FAFAFA;
  color: #818181;
}
.create > .enter-quizz {
  width: 220px;
  height: 44px;
  margin-top: 9px;
}

/* Resultado  */

.container_result {
  
  background-color: #ffffff;
  margin: 50px auto;
  padding-top: 18px;
  width: 759px;
  height: 430px;
}

.result_header {
  background-color: #ec362d;
  width: 95%;
  height: 99px;
  margin: 30px auto;
  font-size: 23px;
  font-weight: 700;
  line-height: 26.95px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.levelDetails {
  padding-left: 18px;
  padding-right: 28px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.levelDetails img {
  width: 364px;
  margin-right: 20px;
}

.levelDetails p {
  font-size: 19px;
  font-weight: 700;
  line-height: 25px;
  color: #484848;
  word-break: break-word;
}

.restart-quizz, .return-home { 
  width: 260.38px;
  height: 52px;
  
  margin: 8px auto;
  
  border: none;
  border-radius: 15px;
  font-size: 21px;
  font-weight: 400;
  line-height: 24.61px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.restart-quizz {
  background-color: #EC362D;
  color: #FFF5F4;
}

.return-home {
  color: #818181;
}

.restart-quizz:hover, .return-home:hover { 
  cursor: pointer;
}

@media (max-width: 1100px){
  main {
    width: 100vw;
  }
  .quizz-info {
    width: 100vw;
  }
  .quizz-info input {
    width: 95%;
  }
  .create button {
    width: 80%;
  }
  .quizz-questions, .quizz-levels{
    width: 100vw;
  }
  .question, .level {
    width: 100vw;
  }
  .question input, .level input {
    width: 92vw;
  }
  .level > div {
    padding: 0 30px;
  }
  .create > .quizz-image {
    max-width: 340px;
    width: 100vw;
  }
}