body {
    font-family: "Roboto", sans-serif;
    background-color: #fafafa;
  }
  
  header {
    width: 100vw;
    height: 69px;
    font-weight: 700;
    font-size: 37px;
    line-height: 43.36px;
    background-color: #ec362d;
    color: #ffffff;
  
    position: fixed;
    top: 0;
    left: 0;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .your_quizzes {
    height: 181px;
    border: 1px solid #d4d4d4;
    margin-top: 146px;
    margin-left: calc(100vw  - 90%);
    margin-right: calc(100vw  - 90%);
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .warning {
    max-width: 250px;
    color: #b9b9b9;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.44px;
    text-align: center;
  }
  
  .your_quizzes div {
    color: #ec362d;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
  
    width: 136px;
    height: 40px;
    border: 1px dashed #ec362d;
    border-radius: 50px;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  