body {
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
}

header {
  width: 100vw;
  height: 69px;
  font-weight: 700;
  font-size: 37px;
  line-height: 43.36px;
  background-color: #ec362d;
  color: #ffffff;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.your_quizzes {
  height: 181px;
  border: 1px dashed #d5d5d5;
  border-radius: 5px;
  margin-top: 146px;
  margin-left: calc(100vw - 90%);
  margin-right: calc(100vw - 90%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.warning {
  max-width: 250px;
  color: #b9b9b9;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.44px;
  text-align: center;
}

.button {
  color: #ec362d;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;

  width: 136px;
  height: 40px;
  border: 1px dashed #ec362d;
  border-radius: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.personal_quizzes {
  height: 181px;

  margin-top: 138px;
  margin-left: calc(100vw - 90%);
  margin-right: calc(100vw - 90%);
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23.44px;

  display: flex;
  align-items: center;
}

.add_button {
  background-color: #ffffff;
  color: #ec362d;
  font-size: 36px;
  margin-left: 15px;
}

.all-quizzes {
  max-width: 1052px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  row-gap: 12px;
  column-gap: 15px;
}
.quizz {
  width: 340px;
  height: 181px;
  border-radius: 5px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
  position: absolute;
  top: 0;
  left: 0;
}
.quizz p {
  color: #FFFFFF;
  font-size: 19px;
  padding: 140px 18px 0 18px;
}
.quizz-image {
  width: 340px;
  height: 181px;
  border-radius: 5px;
  position: relative;
  top: 0;
  left: 0;
}
.quizz-image img {
  width: 340px;
  height: 181px;
  border-radius: 5px;
}